mixin gallery (array)
	ul.gallery
		each arr in array
			li.gallery__item
				picture
					//- source(media="(min-width: 768px)", srcset=srcset=`img/${arr[0]}/${arr[1]}@xl.avif`, type="image/avif")
					//- source(media="(min-width: 768px)", srcset=srcset=`img/${arr[0]}/${arr[1]}@xl.webp`, type="image/webp")
					//- source(media="(min-width: 768px)", srcset=`img/${arr[0]}/${arr[1]}@xl.jpg`)
					source(srcset=`img/${arr[0]}/${arr[1]}.avif`, type="image/avif")
					source(srcset=`img/${arr[0]}/${arr[1]}.webp`, type="image/webp")
					img(src=`img/${arr[0]}/${arr[1]}.jpg`, alt=`${arr[2]}`)
				if arr[3]
					h3
						a(href=`${arr[3]}`) #{arr[4]}
mixin social(dark)
		ul.soc-list(class=dark == true ? 'soc-list--dark' : '')
			li.soc-list__item
				a.soc-list__link.soc-list__link--yt(href="#")
					span.visually-hidden Канал на ютубе
			li.soc-list__item
				a.soc-list__link.soc-list__link--vk(href="#")
					span.visually-hidden Группа в вк
			li.soc-list__item
				a.soc-list__link.soc-list__link--tg(href="#")
					span.visually-hidden Канал в телеграм
